################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Orchard.Park.Management.API/config
/.vs/Orchard.Park.Management.API/DesignTimeBuild
/.vs/Orchard.Park.Management.API/FileContentIndex
/.vs/Orchard.Park.Management.API/v17
/.vs/OrchardPark/v17
/.vs/ProjectEvaluation
*.json
/src/Orchard.Park.AspNetCore/bin
/src/Orchard.Park.AspNetCore/obj
/src/Orchard.Park.CodeGenerator/bin
/src/Orchard.Park.Core/bin
/src/Orchard.Park.Core/obj
/src/Orchard.Park.Identity/bin/Debug
/src/Orchard.Park.Identity/obj
/src/Orchard.Park.Management.Entity/bin/Debug/net8.0
/src/Orchard.Park.Management.Entity/obj
/src/Orchard.Park.Serilog/bin
/src/Orchard.Park.Serilog/obj
/src/Orchard.Park.SqlSugar/bin
/src/Orchard.Park.SqlSugar/obj
/src/Orchard.Park.CodeGenerator/obj
/src/Orchard.Park.IRepository/bin/Debug/net8.0
/src/Orchard.Park.IRepository/obj
/src/Orchard.Park.IService/bin/Debug/net8.0
/src/Orchard.Park.IService/obj
/src/Orchard.Park.Repository/bin/Debug/net8.0
/src/Orchard.Park.Repository/obj
/src/Orchard.Park.Service/bin/Debug/net8.0
/src/Orchard.Park.Service/obj
